@import '_variables';
@import '_reset';


    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Rubik Mono One', sans-serif;

body {
    background-color: $colorBackground;
}
.mainer {
    max-width: 1260px;
    padding: 0 20px;
    margin: 0 auto;
}
.page {
    margin-top: 110px;

    @media screen and (max-width: 991px) {
        margin-top: 20px;
    }
    &--center {
        
        @media screen and (max-width: 991px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &--overflow {
        overflow-y: hidden;
    } 
    &__caption {
        font-family: "Montserrat", sans-serif;
        font-size: 36px;
        font-weight: 500;
        color: $colorBrend;
        text-align: center;
        margin-bottom: 55px;

        @media screen and (max-width: 991px) {
            font-size: 30px;
            margin-bottom: 30px;
        }
        @media screen and (max-width: 767px) {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 25px;
        }
        @media screen and (max-width: 374px) {
            font-size: 22px;
        }
    }
}
.hr-line {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: $colorBrend;
    margin: 80px 0;

    @media screen and (max-width: 991px) {
        margin: 50px 0;
    }
    @media screen and (max-width: 767px) {
        margin: 40px 0;
    }
}
.btn {
    display: block;
    width: 40px;
    height: 40px;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: $colorBackground;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    background-color: $colorBrend;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        &:not(:disabled):hover,
        &:not(:disabled):focus {
            box-shadow: 0 0 20px $colorBrend;
        }
    }
    &:active {
        background-color: darken($colorBrend, 10);
    }
    &:disabled {
        background-color: darken($colorBrend, 20);
        cursor: default;
    }
    &--width {
        width: 213px;
    }
    &--color {
        color: $colorTextMain;
        background-color: $colorBackground;
        
        @media screen and (min-width: 768px) {
            &:not(:disabled):hover,
            &:not(:disabled):focus {
                box-shadow: 0 0 20px $colorBackground;
            }
        }
        &:disabled {
            background-color: darken($colorBackground, 20);
        }
    }
}
.product-carousel .VueCarousel-wrapper {
    border-radius: 8px;
}
.VueCarousel-navigation-button {
    outline: none !important;
}
.similar-carousel .VueCarousel-navigation-next {
    transform: translate(100%, -100%) !important;
}
.similar-carousel .VueCarousel-navigation-prev {
    transform: translate(-100%, -100%) !important;
}